.card {
  line-height: 3rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.upload-box {
  padding-top: 25px;
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  background-color: #f6f8fb;
  border: 1px dashed #97bef4;
  border-radius: 10px;
}

.instruction {
  font-size: 0.7rem;
  color: #bdbdbd;
}

.upload-btn {
  margin: auto;
  width: fit-content;
  margin-bottom: 20px;
}

input[type="file"] {
  display: none;
}

.done-icon {
  transform: scale(2);
  color: #219653;
  margin-bottom: 30px;
}

.uploaded-img {
  margin-top: 30px;
  border-radius: 10px;
}

.copy-link {
  display:flex;
  line-height: 1rem;
  margin-top: 30px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
}

.copy-link input[type=text] {
  border: none transparent;
  outline: none;
  border-radius: 8px;
  margin-left: 2%;
  font-size: 0.7rem;
}